= form_tag sessions_path do
  .f-input
    = label_tag :email
    %br
    = text_field_tag :email, params[:email]
    %br

  .f-input
    = label_tag :password
    %br
    = password_field_tag :password
  %br
  = submit_tag 'Log In', :class => 'btn'
