%h1 Profile
%p= current_user.name
%p= current_user.email
%p= image_tag current_user.avatar(:small)

= link_to 'Stories', stories_path, :class => 'btn'
= link_to 'Edit', edit_user_path(current_user), :class => 'btn btn-warning'
