= simple_form_for @story do |f|
  = f.error_notification
  = f.input :title, placeholder: 'enter title'
  = f.cktext_area :description, ckeditor: {uiColor: '#C3DBE3', toolber:'mini'}
  = f.input :tag_names, placeholder: 'tags'
  = f.button :submit

= link_to 'Back', stories_path, :class => 'btn'
