= simple_form_for @story do |f|
  = f.error_notification
  = f.input :title, placeholder: 'enter title'
  = f.input :description, placeholder: 'story'
  = f.button :submit

.btn
  = link_to 'Back', stories_path
