%h3 Stories:

= link_to 'New story', new_story_path

%table
  %tr
    %th Title:
    %th Text:

    .stories
    - @stories.each do |story|
      %tr
        %td= link_to h(story.title), story
        %td= simple_format h(story.description)
        %td= link_to 'Edit', edit_story_path(story)
        %td= link_to 'Destroy', story_path(story),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }
