.story-show
  %h3.story_title.centered= "Title: #{h(@story.title)}"
  .story_description= raw(@story.description)
  .story_author
    Created by
    = link_to @story.user.name, user_path(:id => @story.user.id)

  = link_to 'Stories', stories_path, :class => 'btn'

  = link_to 'Edit', edit_story_path(@story), :class => 'btn'

  = link_to 'Destroy', story_path(@story), :class => 'btn',
  						method: :delete,
  						data: { confirm: 'Are you sure?' }
