.story-show
  %h3 Title:
  %p= h(@story.title)
  %h3 Description:
  %p= raw(@story.description)
  .story_author
    %h3 Created by
    = link_to @story.user.name, user_path(:id => @story.user.id)

  = link_to 'Stories', stories_path, :class => 'btn'

  = link_to 'Edit', edit_story_path(@story), :class => 'btn'

  = link_to 'Destroy', story_path(@story), :class => 'btn',
  						method: :delete,
  						data: { confirm: 'Are you sure?' }
