
%h3 Title:
%p= @story.title
%h3 Description:
%p= @story.description

= link_to 'Stories', stories_path
= link_to 'Edit', edit_story_path(@story)
= link_to 'Destroy', story_path(@story),
              method: :delete,
              data: { confirm: 'Are you sure?' }
