!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CoupleStory
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper
      %header
        .navbar
          %ul
            - if current_user
              %li
                = link_to 'Log Out', logout_path, :class => 'btn'
              %li
                = link_to 'Profile', user_path(current_user), :class => 'btn'
              %li{:id => :login}
                = image_tag current_user.avatar(:thumb)
                = current_user.name
            - else
              %li
                = link_to 'Sign Up', new_user_registration_path, :class => 'btn'
              %li
                = link_to 'Log In', login_path, :class => 'btn'

      .error-message
        - flash.each do |name, msg|
          = content_tag :div, msg, id: "flash_#{name}"

      .left-col
        .popular-tags
          %p Popular tags:
          %ol
            %li
              Cake
            %li
              Dick
            %li
              Dick
            %li
              Dick
            %li
              Dick
        .b-header.stories
          = link_to 'New Story', new_story_path

      .right-col
        %main
          = yield

      %footer
        Created by KraevRoot:
        = link_to 'https://github.com/KraevRoot', 'https://github.com/KraevRoot'
